DATABASE_URL=postgresql+asyncpg://<username>:<password>@localhost:5432/<dbname>
MAILGUN_DOMAIN=<your-mailgun-domain>
MAILGUN_API_KEY=<your-mailgun-api-key>
MAILGUN_BASE_URL=https://api.mailgun.net/v3
